<h1>This is Secret Page!</h1>

<p>You found me</p>

<img src="https://cdn.pixabay.com/photo/2018/01/14/13/23/hacker-3081816_960_720.jpg">

<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>